<!DOCTYPE html>
<html>
        <head>
                <title>{% block title %}a free connection to the open sea - aestus{% endblock title %}</title>
        </head>
        <body>
                {% block body %}
                <h1>a free connection to the open sea</h1>
                <p><i>Aestus</i> is a live video streaming site. The live stream experience also includes chatrooms for you and your viewers to participate in your live streams.</p>
                <p>According to Wikipedia, <i>aestus</i> is the Latin for tide, and the root of the English word Estuary. An estuary is defined as "a free connection to the open sea".</p>
                <p><i>Aestus</i> exclusively utilises HTML5 and Open Web technologies, and has published the source code for the platform.</p>
                <p>Watch <a href="/u/apple">my live stream here</a>.</p>
                {% endblock body %}
        </body>
</html>
